<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Notonomous</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=22">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900italic&v2' rel='stylesheet' type='text/css'>

	<script src="js/libs/modernizr-1.7.min.js"></script>
	
</head>
<body>
	
	<header>
		<h1>Welcome to Notonomous.</h1>
	</header>
	
	<div id="notonomous">

		<div id="main" role="main">
			
			<h2 id="firstTime" style="display: none;">Hey there. Looks like you don't have any notes. Would you like to <a href="#!/local/create">get started...</a>?</h2>
			
		</div>
		
		<div id="notes" style="display: none;">
			
			<div class="control-bar clearfix">
			
				<h2>Your notes</h2>
				
				<a href="#!/local/create" class="button create">new note</a>
			
			</div>
			
			<ul id="notes-list">
			</ul>
		</div>
		
		<div id="editor" style="display: none;">
			
			<div class="control-bar">
				
				<h2>&nbsp;</h2>
				
				<a id="live-preview" class="button toggle">live preview</a>
				
			</div>
			
			<div class="controls clearfix">
			
				<input id="title" type="text" placeholder="your note title...">
			
				<textarea id="content" placeholder="your note content..."></textarea>
				
				<div class="iframe"><iframe src="preview.html"></iframe></div>
			
			</div>
			
			<div class="footer-bar">
			
				<a id="save" class="button save" href="#">save</a> or <a href="#!/list">cancel</a>
			
			</div>
			
		</div>
		
		<div id="preview" style="display: none;">

			<div class="control-bar">
				
				<h2>Preview</h2>
				
				<a href="#!/print" class="button">print</a> <a href="#!/list" class="button">close preview</a>
			</div>
			
			<iframe src="preview.html"></iframe>
		
		<div>

		<footer>

		</footer>
	</div>
	
	<script type="text/template" id="note-list-template">
		<article class="note">
		
			<span class="icon icon-preview"></span>
			<span class="icon icon-edit"></span>
			<span class="icon icon-delete"></span>
			
			<div>
				<h1><%= title %></h1>
				<ul class="attributes">
					<li>Created <time datetime="<%= created %>"><%= sCreated %></time></li>
				</ul>
			</div>
		
		</article>
	</script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/libs/underscore-1.1.7.min.js"></script>
	<script src="js/libs/backbone-0.5.1.min.js"></script>
	<script src="js/libs/backbone.localStorage.min.js"></script>
	<script src="js/libs/showdown.js"></script>
	<script src="js/libs/timeago-0.9.3.js"></script>
	<script src="js/libs/taboverride-1.1.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script-combined.js?v=14"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>